@*@model IEnumerable<ProductPlan>*@
@model GroupViewModel

@{
    //var day = Model.addgame.planset;
    //int dayCount = day.Count();
}

<div class="form-group row">
    <div class="col-4 col-md-2">
        <p>AvailableDay</p>
    </div>
    <div class="col-4 col-md-3">
        <p>Start Time</p>
    </div>
    <div class="col-4 col-md-3">
        <p>End Time</p>
    </div>
</div>



<div class="form-group row">
    @*visually-hidden*@
    <div class="col-4 col-md-2">
        @*@Html.DisplayFor(model => model.addgame.GameAvailableDay1, new { htmlAttributes = new { @name = 1, @class = "form-control", @readonly = "readonly" } })*@
        @Html.EditorFor(model => model.addgame.GameAvailableDay1, new { htmlAttributes = new { @name = 1, @class = "form-control", @readonly = "readonly", style = "background-color: #120E1B; color:white; border:transparent;" } })
        @*@Html.DisplayTextFor(model => model.addgame.GameAvailableDay1)*@
    </div>
    <div class="col-4 col-md-3">
        @Html.EditorFor(model => model.addgame.GameStartTime1, new { htmlAttributes = new { @name = 1, @class = "form-control starttime", style = "background-color: #302F3D; color:white;" } })
        @Html.ValidationMessageFor(model => model.addgame.GameStartTime1, "", new { @class = "text-danger" })
    </div>
    <div class="col-4 col-md-3">
        @Html.EditorFor(model => model.addgame.GameEndTime1, new { htmlAttributes = new { @name = 1, @class = "form-control endtime", style = "background-color: #302F3D; color:white;" } })
        @Html.ValidationMessageFor(model => model.addgame.GameEndTime1, "", new { @class = "text-danger" })
    </div>

</div>

<div class="form-group row">
    @*visually-hidden*@
    <div class="col-4 col-md-2">
        @Html.EditorFor(model => model.addgame.GameAvailableDay2, new { htmlAttributes = new { @name = 1, @class = "form-control", @readonly = "readonly", style = "background-color: #120E1B; color:white; border:transparent;" } })
        @*@Html.DisplayTextFor(model => model.addgame.GameAvailableDay2)*@
    </div>
    <div class="col-4 col-md-3">
        @Html.EditorFor(model => model.addgame.GameStartTime2, new { htmlAttributes = new { @name = 2, @class = "form-control starttime", style = "background-color: #302F3D; color:white;" } })
        @Html.ValidationMessageFor(model => model.addgame.GameStartTime2, "", new { @class = "text-danger" })
    </div>
    <div class="col-4 col-md-3">
        @Html.EditorFor(model => model.addgame.GameEndTime2, new { htmlAttributes = new { @name = 2, @class = "form-control endtime", style = "background-color: #302F3D; color:white;" } })
        @Html.ValidationMessageFor(model => model.addgame.GameEndTime2, "", new { @class = "text-danger" })
    </div>

</div>

<div class="form-group row">
    @*visually-hidden*@
    <div class="col-4 col-md-2">
        @Html.EditorFor(model => model.addgame.GameAvailableDay3, new { htmlAttributes = new { @name = 1, @class = "form-control", @readonly = "readonly", style = "background-color: #120E1B; color:white; border:transparent;" } })
        @*@Html.DisplayTextFor(model => model.addgame.GameAvailableDay3)*@
    </div>
    <div class="col-4 col-md-3">
        @Html.EditorFor(model => model.addgame.GameStartTime3, new { htmlAttributes = new { @name = 2, @class = "form-control starttime", style = "background-color: #302F3D; color:white;" } })
        @Html.ValidationMessageFor(model => model.addgame.GameStartTime3, "", new { @class = "text-danger" })
    </div>
    <div class="col-4 col-md-3">
        @Html.EditorFor(model => model.addgame.GameEndTime3, new { htmlAttributes = new { @name = 2, @class = "form-control endtime", style = "background-color: #302F3D; color:white;" } })
        @Html.ValidationMessageFor(model => model.addgame.GameEndTime3, "", new { @class = "text-danger" })
    </div>

</div>

<div class="form-group row">
    @*visually-hidden*@
    <div class="col-4 col-md-2">
        @Html.EditorFor(model => model.addgame.GameAvailableDay4, new { htmlAttributes = new { @name = 1, @class = "form-control", @readonly = "readonly", style = "background-color: #120E1B; color:white; border:transparent;" } })
        @*@Html.DisplayTextFor(model => model.addgame.GameAvailableDay4)*@
    </div>
    <div class="col-4 col-md-3">
        @Html.EditorFor(model => model.addgame.GameStartTime4, new { htmlAttributes = new { @name = 2, @class = "form-control starttime", style = "background-color: #302F3D; color:white;" } })
        @Html.ValidationMessageFor(model => model.addgame.GameStartTime4, "", new { @class = "text-danger" })
    </div>
    <div class="col-4 col-md-3">
        @Html.EditorFor(model => model.addgame.GameEndTime4, new { htmlAttributes = new { @name = 2, @class = "form-control endtime", style = "background-color: #302F3D; color:white;" } })
        @Html.ValidationMessageFor(model => model.addgame.GameEndTime4, "", new { @class = "text-danger" })
    </div>

</div>

<div class="form-group row">
    @*visually-hidden*@
    <div class="col-4 col-md-2">
        @Html.EditorFor(model => model.addgame.GameAvailableDay5, new { htmlAttributes = new { @name = 1, @class = "form-control", @readonly = "readonly", style = "background-color: #120E1B; color:white; border:transparent;" } })
        @*@Html.DisplayTextFor(model => model.addgame.GameAvailableDay5)*@
    </div>
    <div class="col-4 col-md-3">
        @Html.EditorFor(model => model.addgame.GameStartTime5, new { htmlAttributes = new { @name = 2, @class = "form-control starttime", style = "background-color: #302F3D; color:white;" } })
        @Html.ValidationMessageFor(model => model.addgame.GameStartTime5, "", new { @class = "text-danger" })
    </div>
    <div class="col-4 col-md-3">
        @Html.EditorFor(model => model.addgame.GameEndTime5, new { htmlAttributes = new { @name = 2, @class = "form-control endtime", style = "background-color: #302F3D; color:white;" } })
        @Html.ValidationMessageFor(model => model.addgame.GameEndTime5, "", new { @class = "text-danger" })
    </div>

</div>

<div class="form-group row">
    @*visually-hidden*@
    <div class="col-4 col-md-2">
        @Html.EditorFor(model => model.addgame.GameAvailableDay6, new { htmlAttributes = new { @name = 1, @class = "form-control", @readonly = "readonly", style = "background-color: #120E1B; color:white; border:transparent;" } })
        @*@Html.DisplayTextFor(model => model.addgame.GameAvailableDay6)*@
    </div>
    <div class="col-4 col-md-3">
        @Html.EditorFor(model => model.addgame.GameStartTime6, new { htmlAttributes = new { @name = 2, @class = "form-control starttime", style = "background-color: #302F3D; color:white;" } })
        @Html.ValidationMessageFor(model => model.addgame.GameStartTime6, "", new { @class = "text-danger" })
    </div>
    <div class="col-4 col-md-3">
        @Html.EditorFor(model => model.addgame.GameEndTime6, new { htmlAttributes = new { @name = 2, @class = "form-control endtime", style = "background-color: #302F3D; color:white;" } })
        @Html.ValidationMessageFor(model => model.addgame.GameEndTime6, "", new { @class = "text-danger" })
    </div>

</div>

<div class="form-group row">
    @*visually-hidden*@
    <div class="col-4 col-md-2">
        @Html.EditorFor(model => model.addgame.GameAvailableDay7, new { htmlAttributes = new { @name = 1, @class = "form-control", @readonly = "readonly", style = "background-color: #120E1B; color:white; border:transparent;" } })
        @*@Html.DisplayTextFor(model => model.addgame.GameAvailableDay7)*@
    </div>
    <div class="col-4 col-md-3">
        @Html.EditorFor(model => model.addgame.GameStartTime7, new { htmlAttributes = new { @name = 2, @class = "form-control starttime", style = "background-color: #302F3D; color:white;" } })
        @Html.ValidationMessageFor(model => model.addgame.GameStartTime7, "", new { @class = "text-danger" })
    </div>
    <div class="col-4 col-md-3">
        @Html.EditorFor(model => model.addgame.GameEndTime7, new { htmlAttributes = new { @name = 2, @class = "form-control endtime", style = "background-color: #302F3D; color:white;" } })
        @Html.ValidationMessageFor(model => model.addgame.GameEndTime7, "", new { @class = "text-danger" })
    </div>

</div>










@*<div class="col-4 col-md-2">
        @Html.DisplayFor(model => day.GameAvailableDay, new { htmlAttributes = new { @class = "form-control visually-hidden", @readonly = "readonly" } })
    </div>
    <div class="col-4 col-md-3">
        @Html.EditorFor(model => day.GameStartTime, new { htmlAttributes = new { @class = "form-control starttime" } })
        @Html.ValidationMessageFor(model => day.GameStartTime, "", new { @class = "text-danger" })
    </div>
    <div class="col-4 col-md-3">
        @Html.EditorFor(model => day.GameEndTime, new { htmlAttributes = new { @class = "form-control endtime" } })
        @Html.ValidationMessageFor(model => day.GameEndTime, "", new { @class = "text-danger" })
    </div>*@



@*可用webapijson測試*@
@*@{ var js = new System.Web.Script.Serialization.JavaScriptSerializer();}*@
@*@foreach (var day in Model.addgame.planset)
    {
        <div class="col-4 col-md-2">
            @Html.EditorFor(model => day.GameAvailableDay, new { htmlAttributes = new { @class = "form-control ", @readonly = "readonly" } })
        </div>
        <div class="col-4 col-md-3">
            @Html.EditorFor(model => day.GameStartTime, new { htmlAttributes = new { @class = "form-control starttime" } })
            @Html.ValidationMessageFor(model => day.GameStartTime, "", new { @class = "text-danger" })
        </div>
        <div class="col-4 col-md-3">
            @Html.EditorFor(model => day.GameEndTime, new { htmlAttributes = new { @class = "form-control endtime" } })
            @Html.ValidationMessageFor(model => day.GameEndTime, "", new { @class = "text-danger" })
        </div>
    }*@


