
<div class="sidebar ">
    <input type="checkbox" name="" id="side-menu-switch">
    <div class="side-menu">
        <p>Purchased Orders</p>
        <nav class="tab-title">
            <a href="#">Unpaid</a>
            <a href="#">Pending</a>
            <a href="#">Not Started</a>
            <a href="#">Started</a>
            <a href="#">Completed</a>
        </nav>
        <label for="side-menu-switch">
            <i class="fas fa-arrow-right"></i>
        </label>
    </div>
</div>
<div class="container">
    <div class="rowpadding row">
        <div class="title_height_padding col-12 col-md-2">
            <h1>Unpaid</h1>
        </div>
        <div>
            @foreach (var m in Model)
            {
                <div class="wrap row ">
                    <div class=" col-2 col-md-2">
                        <p>
                            Details
                        </p>
                        <p>
                            @Html.DisplayFor(x => m.OrderId)
                        </p>
                    </div>
                    <div class=" col-2 col-md-2">
                        <p>
                            Order Time
                        </p>
                        <p>
                            @Html.DisplayFor(x => m.OrderDate)
                        </p>
                    </div>
                    <div class=" col-2 col-md-2">
                        <p>
                            Quantity
                        </p>
                        <p>
                            @Html.DisplayFor(x => m.Quality)
                        </p>
                    </div>
                    <div class=" col-2 col-md-2">
                        <p>
                            Total Price
                        </p>
                        <p>
                            @Html.DisplayFor(x => m.TotalPrice)
                        </p>
                    </div>
                    <div class=" col-2 col-md-2">
                        <p>
                            Order Status
                        </p>
                        <p>
                            @Html.DisplayFor(x => m.OrderStatus)
                        </p>
                    </div>
                    <div class="col-2 col-md-2">
                        <p>
                            Options
                        </p>
                    </div>
                </div>
            }
            </div>      
    </div>
    <div class="row">
        <div class="footerimg col-12">
            <img src="~/Assets/OrderImages/order.png" alt="">
        </div>
    </div>
</div>
@section topCSS{
    <style>
        header {
            height: 66px;
        }

        footer {
            display: none;
        }

        .rowpadding {
            padding: 30px;
        }

        .title_height_padding {
            height: 40px;
            padding: 0px;
        }

        @@media screen and (max-width: 767px) {
            .side-menu {
                display: flex;
                flex-direction: row;
                width: 95%;
            }

            header {
                height: 0px;
            }
        }
        /* 手機橫向 md*/

        @@media screen and (min-width: 768px) {
        }


        /* iPad橫向 lg*/

        @@media screen and (min-width: 996px) {
        }

        /* iPad Pro橫向 & 桌機 xl*/

        @@media screen and (min-width: 1200px) {
        }
        html,
        body {
            font-family: Poppins, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 7px;
            color: white;
            background-color: rgb(18, 14, 27);
            height: 100%;
        }
        .borderbottom {
            align-items: center;
            padding: 10px;
        }

        .bindcenter {
            align-items: center;
        }

        .tab-title a {
            margin: 10px;
            padding: 5px;
            display: block;
        }

        .side-menu {
            z-index: 3;
            position: fixed;
            left: 0;
            top: 0;
            /* width: 200px; */
            height: 100vh;
            transform: translateX(-100%);
            transition: .3s;
            background-color: rgb(33, 33, 44);
            display: flex;
            flex-direction: column;
        }

            .side-menu a {
                text-decoration: none;
                color: #fff;
            }

        #side-menu-switch {
            color: #000;
            position: absolute;
            opacity: 0;
        }

            #side-menu-switch:checked + .side-menu {
                transform: translateX(0);
            }

                #side-menu-switch:checked + .side-menu label .fas {
                    transform: scale(-1);
                }

        .sidebar {
            z-index: 10;
            position: fixed;
        }

        .fas {
            color: #fff;
        }

        .side-menu label {
            position: absolute;
            width: 40px;
            height: 80px;
            top: 0;
            right: -43px;
        }

        .half {
            width: 50%;
        }

        .wrap {
            border: none;
            border-radius: 10px;
            padding: 10px;
            font-size: 5px;
            background-color: rgb(33, 33, 44);
        }

        .buttonright {
            display: flex;
            align-items: center;
        }

        .col-md-2 p {
            margin-bottom: auto;
        }

        .footerimg img {
            /* height: 100%; */
            width: 70%;
            padding: 30px;
            margin: auto;
            display: flex;
            justify-content: center
        }
    </style>

}
