@model GroupViewModel

@*抓到使用者登入的cookie資訊*@
@{
    HttpCookie cookie = HttpContext.Current.Request.Cookies.Get(FormsAuthentication.FormsCookieName);

    string userid = "";
    //string avatar = "";
    if (cookie != null)
    {
        FormsAuthenticationTicket ticket = FormsAuthentication.Decrypt(cookie.Value);

        var obj = Json.Decode<Members>(ticket.UserData);
        userid = obj.MemberId.ToString();

        //avatar = obj.ProfilePicture;

    }
}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="title tab-inner Profilecenter col-md-12">
                        <h1 class="col-md-12">Profile Information</h1>
                    </div>
                </div>
            </div>



            @Html.Partial("_AvatarPartial")
            @*@RenderPage("~/Views/Members/ImageUpload.cshtml")*@


            <!--<div class="form-group catlogo">-->
            @*@Html.LabelFor(model => Model.MemberInfo.ProfilePicture, htmlAttributes: new { @class = "control-label col-md-6 aa orm-label" })*@
            <!--<i class="fas fa-camera"></i>
            <div class="col-md-6">-->
            @*@Html.EditorFor(model => Model.MemberInfo.ProfilePicture, new { htmlAttributes = new { @class = "form-control", type = "file" } })
                @Html.ValidationMessageFor(model => Model.Name, "", new { @class = "text-danger" })*@
            <!--</div>
            </div>-->



            <div class="panel-body">

                @using (Html.BeginForm("EditProfile", "Members", FormMethod.Post, new { @class = "needs-validation", novalidate = "true" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-horizontal form-body">


                        <hr class="col-md-12" /><br />

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => Model.MemberInfo.MemberId, new { @value = @userid })

                        <div class="form-group">
                            <div class="row justify-content-center">
                                @Html.LabelFor(model => Model.MemberInfo.MemberName, htmlAttributes: new { @class = "control-label col-md-6" })
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    @Html.EditorFor(model => Model.MemberInfo.MemberName, new { htmlAttributes = new { @class = "form-control", style = "background-color:#21212C; color:white; margin-top:5px;" } })
                                    @Html.ValidationMessageFor(model => Model.MemberInfo.MemberName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row justify-content-center">
                                @Html.LabelFor(model => Model.MemberInfo.Phone, htmlAttributes: new { @class = "control-label col-md-6" })
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    @Html.EditorFor(model => Model.MemberInfo.Phone, new { htmlAttributes = new { @class = "form-control", style = "background-color:#21212C; color:white; margin-top:5px;" } })
                                    @Html.ValidationMessageFor(model => Model.MemberInfo.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row justify-content-center">
                                @Html.LabelFor(model => Model.MemberInfo.Country, htmlAttributes: new { @class = "control-label col-md-6" })
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    @Html.EditorFor(model => Model.MemberInfo.Country, new { htmlAttributes = new { @class = "form-control", style = "background-color:#21212C; color:white; margin-top:5px;" } })
                                    @Html.ValidationMessageFor(model => Model.MemberInfo.Country, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <!--Radio, Gender-->
                        @*<div class="form-group">
                            @Html.LabelFor(m => m.Gender, htmlAttributes: new { @class = "col-md-6 control-label" })
                            <div class="col-md-6">
                                <div class="radio">*@
                        @*@foreach (var item in (List<SelectListItem>)GenderList)
                            {
                                <label>@Html.RadioButton("Gender", item.Value) @item.Text</label>
                            }*@

                        @*<label>@Html.RadioButtonFor(model => Model.Gender,0, new { id = "Male" }) Male</label>
                            <label>@Html.RadioButtonFor(model => Model.Gender,1, new { id = "Female" }) Female</label>
                            <label>@Html.RadioButtonFor(model => Model.Gender,2, new { id = "Other" }) Other</label>*@

                        @*<input type="radio" id="rdbtnGender0" name="rdbtnGender" value="Male" @(ViewBag.UserObj == "Male" ? "checked='true'" : "") required>
                            <label for="rdbtnGender0">Male</label>

                            <input type="radio" id="rdbtnGender1" name="rdbtnGender" value="Female" @(ViewBag.UserObj == "Female" ? "checked='true'" : "") required>
                            <label for="rdbtnGender1">Female</label>

                            <input type="radio" id="rdbtnGender2" name="rdbtnGender" value="Other" @(ViewBag.UserObj == "Other" ? "checked='true'" : "") required>
                            <label for="rdbtnGender2">Other</label>*@

                        @*</div>
                                </div>
                            </div>*@


                        <!--DropDownList, Gender-->
                        <div class="form-group">
                            <div class="row justify-content-center">
                                @Html.LabelFor(m => m.MemberInfo.Gender, new { @class = "control-label col-md-6" })
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    @Html.EnumDropDownListFor(model => model.MemberInfo.Gender, new { @class = "form-control form-select", style = "background-color:#21212C; color:white; margin-top:5px;" })
                                    @Html.ValidationMessageFor(model => model.MemberInfo.Gender, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row justify-content-center">
                                @Html.LabelFor(model => Model.MemberInfo.BirthDay, htmlAttributes: new { @class = "control-label col-md-6" })
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    @Html.EditorFor(model => Model.MemberInfo.BirthDay, new { htmlAttributes = new { @class = "form-control", style = "background-color:#21212C; color:white; margin-top:5px;" } })
                                    @Html.ValidationMessageFor(model => Model.MemberInfo.BirthDay, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row justify-content-center">
                                @Html.LabelFor(model => Model.MemberInfo.TimeZone, htmlAttributes: new { @class = "control-label col-md-6" })
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    @Html.EditorFor(model => Model.MemberInfo.TimeZone, new { htmlAttributes = new { @class = "form-control", style = "background-color:#21212C; color:white; margin-top:5px;" } })
                                </div>
                            </div>
                        </div>

                        <!--DropDownList, LanguageList-->
                        <div class="form-group">
                            <div class="row justify-content-center">
                                @Html.LabelFor(model => Model.MemberInfo.LanguageId, htmlAttributes: new { @class = "col-md-6 control-label" })
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    @Html.EnumDropDownListFor(model => model.MemberInfo.LanguageId, new { @class = "form-control form-select", style = "background-color:#21212C; color:white; margin-top:5px;" })
                                    @Html.ValidationMessageFor(model => model.MemberInfo.LanguageId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="row justify-content-center">
                                @Html.LabelFor(model => Model.MemberInfo.Bio, htmlAttributes: new { @class = "control-label col-md-6" })
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    @Html.EditorFor(model => Model.MemberInfo.Bio, new { htmlAttributes = new { @class = "form-control", style = "background-color:#21212C; color:white; margin-top:5px;" } })
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="row justify-content-center">
                                @Html.LabelFor(model => Model.MemberInfo.Email, htmlAttributes: new { @class = "control-label col-md-6" })
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    @Html.EditorFor(model => Model.MemberInfo.Email, new { htmlAttributes = new { @class = "form-control", style = "background-color:#21212C; color:white; margin-top:5px;" } })
                                    @Html.ValidationMessageFor(model => Model.MemberInfo.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row justify-content-center">
                                @Html.LabelFor(model => Model.MemberInfo.Password, htmlAttributes: new { @class = "control-label col-md-6" })
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    @Html.EditorFor(model => Model.MemberInfo.Password, new { htmlAttributes = new { @class = "form-control", style = "background-color:#21212C; color:white; margin-top:5px;" } })
                                    @Html.ValidationMessageFor(model => Model.MemberInfo.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="row justify-content-center">
                                <div class="col-md-offset-2 col-md-6">
                                    <input type="submit" value="Save" class="btn btn-default profilesave" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>
@*前端驗證*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



@section topCSS{
    <style>
        html,
        body {
            color: white;
            font-family: Poppins, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
            height: 100%;
            background-color: rgb(18, 14, 27);
            margin: auto;
        }

        header {
            height: 66px;
        }

        div.panel-body > form > label {
            width: 100px;
            text-align: right;
            margin-right: 0.5em;
            padding-top: 0.2em;
            padding-right: 1em;
            font-weight: bold;
            border-radius: 5px;
        }

        .profilesave {
            color: white;
            background-color: #7041E6;
        }

        .Profilecenter {
            padding-top: 40px;
            text-align: center;
        }

        label ~ input {
            overflow: hidden;
            display: none !important;
            opacity: 0;
        }

        label .fas {
            position: absolute;
        }


        .title h1 {
            font-size: 25px;
        }



        /*Avatar*/
        .avatar-upload {
            position: relative;
            max-width: 205px;
            margin: 50px auto;
        }

            .avatar-upload .avatar-edit {
                position: absolute;
                right: 12px;
                z-index: 1;
                top: 10px;
            }

                .avatar-upload .avatar-edit input {
                    display: none;
                }

                    .avatar-upload .avatar-edit input + label {
                        display: inline-block;
                        width: 34px;
                        height: 34px;
                        margin-bottom: 0;
                        border-radius: 100%;
                        background: #FFFFFF;
                        border: 1px solid transparent;
                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                        cursor: pointer;
                        font-weight: normal;
                        transition: all 0.2s ease-in-out;
                    }

                        .avatar-upload .avatar-edit input + label:hover {
                            background: #f1f1f1;
                            border-color: #d6d6d6;
                        }

                        .avatar-upload .avatar-edit input + label:after {
                            content: " ";
                            font-family: 'FontAwesome';
                            color: #757575;
                            position: absolute;
                            top: 10px;
                            left: 0;
                            right: 0;
                            text-align: center;
                            margin: auto;
                        }

                .avatar-upload .avatar-edit label .fa-camera {
                    color: black;
                    position: absolute;
                    left: 8px;
                    top: 7px;
                }

            .avatar-upload .avatar-preview {
                width: 192px;
                height: 192px;
                position: relative;
                border-radius: 100%;
                border: 6px solid #F8F8F8;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            }

                .avatar-upload .avatar-preview > div {
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }

        .container2 .btn {
            position: absolute;
            top: 120%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            color: white;
            font-size: 16px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
        }

        .avatar-upload {
            padding-bottom: 30px;
        }

            .avatar-upload #imagePreview {
                background-image: url("/Assets/Edit_ProfileImages/avatar.png");
            }



        @@media screen and (max-width: 767px) {
            header {
                height: 0px;
            }

            .panel-body {
                padding-bottom: 100px;
            }
        }

        @@media screen and (min-width: 768px) {
            .Profilecenter p {
                padding-top: 10px;
                font-size: 30px;
            }
        }

        @@media screen and (min-width: 996px) {
        }

        @@media screen and (min-width: 1200px) {
        }
    </style>
}


@section endJS{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.22.0/axios.min.js"
            integrity="sha512-m2ssMAtdCEYGWXQ8hXVG4Q39uKYtbfaJL5QMTbhl2kc6vYyubrKHhr6aLLXW4ITeXSywQLn1AhsAaqrJl8Acfg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        //$("#btnSubmit").click(function () {
        //    var fileUpload = $("#imageUpload").get(0);
        //    var files = fileUpload.files;
        //    // Create FormData object
        //    var fileData = new FormData();
        //    // Looping over all files and add it to FormData object
        //    for (var i = 0; i < files.length; i++) {
        //        fileData.append(files[i].name, files[i]);
        //    }
        //    var geturl = "Members/SaveImageToServer";
        //    $.ajax({
        //        url: geturl,
        //        type: "POST",
        //        data: fileData,
        //        async: false,
        //        contentType: false, // Not to set any content header
        //        processData: false, // Not to process data
        //        success: function (IsImageUploaded) {
        //            if (IsImageUploaded == "True") {
        //                $("#imageUpload").val('');
        //                $("#ShowMsg").text("Image Uploaded Successfully...!").css("color", "green")
        //            }
        //            else {
        //                $("#imageUpload").val('');
        //                $("#ShowMsg").text("Image Not Uploaded...!").css("color", "red")
        //            }
        //        }
        //    });
        //})


        //save avatar to Cloudinary、DB
        let photoUrl = "";
        let memberId = parseInt(@userid);

        //var cloud_url = 'https://api.cloudinary.com/v1_1/drub4oabm/image/upload'
        var cloud_url = 'https://api.cloudinary.com/v1_1/djamumruo/image/upload'
        //var cloud_upload_preset = 'cltdf3ai'
        var cloud_upload_preset = 'roldewr6'

        var imgPreview = document.getElementById('imagePreview');
        var fileUpload = document.getElementById('btnSubmit');
        // var btnSubmit = document.getElementById('btnSubmit');

        fileUpload.addEventListener("click", function (event) {
            //var file = event.target.files[0];

            var file = document.getElementById('imageUpload').files[0];
            var formData = new FormData();

            formData.append('file', file);
            formData.append('upload_preset', cloud_upload_preset);

            axios({
                url: cloud_url,
                method: 'POST',
                Headers: {
                    'Content-Type': 'multipart/form-data'
                },
                data: formData
            }).then(function (res) {
                console.log(res);
                photoUrl = res.data.secure_url;
                $("#imageUpload").change(function () {
                    readURL(photoUrl);
                });
                SaveImageViaAjax(memberId, photoUrl);


            }).catch(function (err) {
                console.error(err);

            });


        });
        //$("#imagePreview").css('background-image', 'url(" + photoUrl + ")');


        //image preview
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                    $('#imagePreview').hide();
                    $('#imagePreview').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imageUpload").change(function () {
            readURL(this);
        });



        //save avatar to Cloudinary、DB
        function SaveImageViaAjax(memberId, photoUrl) {

            var Data = JSON.stringify({
                MemberId: `${memberId}`,
                ProfilePicture: `${photoUrl}`
            });

            $.ajax({
                url: "https://localhost:44322/api/MembersApi/",
                type: "POST",
                data: Data,
                async: true,
                contentType: 'application/json; charset=utf-8',
                processData: false,
                //dataType: "json",
                success: function (res) {
                        console.log(res);
                     $("#ShowMsg").text("Image Uploaded Successfully...!").css("color", "green")
                },
                error: function (err) {
                        console.log(err);
                    $("#ShowMsg").text("Image Not Uploaded...!").css("color", "red")
                }
            });

        }

        //display avatar
        document.getElementById('imagePreview').style.backgroundImage = "url('@ViewBag.Avatar')";


        $(function () {
            $("<br/>").insertAfter(".form-group");
        });
    </script>
}