@model GroupViewModel
<div class="Sidebar ">
    <input type="checkbox" name="" id="Side-menu-switch">
    <div class="Side-menu">
        <nav class="tab-title">
            <a href="@Url.Action("Edit_Profile","Edit_Profile")">Edit Profile</a>
            <a href="@Url.Action("SettingsAccount","SettingsAccount")">Account</a>
            <a href="#">Notifications</a>
            <a href="#">Privacy</a>
            <a href="#">Wedsite Log</a>
            <a href="#">Log Out</a>
        </nav>
        <label for="Side-menu-switch">
            <i class="fas fa-arrow-right"></i>
        </label>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 col-sm-10">
            <div class="container">
                <div class="row">
                    <div class="title tab-inner Profilecenter col-12 col-md-2 col-sm-2">
                        <h1>Profile</h1>
                        <p>Avatar</p>
                    </div>
                </div>
            </div>


            @*個人頭貼*@
            <div class="container">
                <div class="row">
                    <div class="wrapper col-12 col-md-2 col-sm-3">
                        <!-- <input type="file" class="my_file">
                        <div class="cameraicon">
                            <i class="fas fa-camera"></i>
                        </div> -->
                        <div class="catlogo">
                            <label for="formFileMultiple" class="aa orm-label"><i class="fas fa-camera"></i></label>
                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                        </div>
                    </div>
                    <div class="ipadrow col-md-7 col-sm-9">
                        <div class="spancontent col-md-11 col-sm-3">
                            <span>
                                Avatar must be .JPG,.JPEG or.PNG and cannot exceed
                                5M.Premium members can use GIF profile photoGo
                                Subscribe
                            </span>
                        </div>
                        <div class="buttonnone col-md-4 col-sm-4">
                            <button class="button button1">Change Avatar</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-10 col-sm-10">
                    <h1 class="profileinfo">Profile Information</h1>
                </div>
            </div>

            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.LabelFor(x => x.MemberData.MemberName)<br />
                    @Html.EditorFor(x => x.MemberData.MemberName)<br />
                    @Html.LabelFor(x => x.MemberData.Phone)<br />
                    @Html.EditorFor(x => x.MemberData.Phone)<br />
                    @Html.LabelFor(x => x.MemberData.Country)<br />
                    @Html.EditorFor(x => x.MemberData.Country)<br />
                    @*@Html.LabelFor(x => x.MemberData.CityId) @Html.EditorFor(x => x.MemberData.CityId)*@
                    @Html.LabelFor(x => x.MemberData.Gender)<br />
                    @Html.EditorFor(x => x.MemberData.Gender)<br />
                    @Html.LabelFor(x => x.MemberData.BirthDay)<br />
                    @Html.EditorFor(x => x.MemberData.BirthDay)<br />
                    @Html.LabelFor(x => x.MemberData.TimeZone)<br />
                    @Html.EditorFor(x => x.MemberData.TimeZone)<br />
                    @Html.LabelFor(x => x.MemberData.LanguageId)<br />
                    @Html.EditorFor(x => x.MemberData.LanguageId)<br />
                    @Html.LabelFor(x => x.MemberData.Bio)<br />
                    @Html.EditorFor(x => x.MemberData.Bio)<br />

                    <input type="submit" value="Submit" class="btn btn-primary" />
                }
            </div>



            @*個人資訊*@
            <!--<div class="container">
                <div class="row">
                    <div class="textitem col-12 col-md-9 col-sm-9">
                        <p>Name</p>
                        <input class="text-light  form-control" style="background-color:rgb(33,33,44);" type="text"
                               placeholder="Default input" aria-label="default input example"><br>
                        <p>Time Zone</p>
                        <select class="selectcolor text-light form-select form-select-sm"
                                style="background-color:rgb(33,33,44);" aria-label=".form-select-sm example">
                            <option selected>Open this select menu</option>
                            <option value="1">GMT-11:00</option>
                            <option value="2">GMT-10:00</option>
                            <option value="3">GMT-09:00</option>
                            <option value="4">GMT-08:00</option>
                            <option value="5">GMT-07:00</option>
                            <option value="6">GMT-06:00</option>
                            <option value="7">GMT-05:00</option>
                            <option value="8">GMT-04:00</option>
                            <option value="9">GMT-03:00</option>
                            <option value="10">GMT-02:00</option>
                            <option value="11">GMT-01:00</option>
                            <option value="12">GMT+00:00</option>
                            <option value="13">GMT+01:00</option>
                            <option value="14">GMT+02:00</option>
                            <option value="15">GMT+03:00</option>
                            <option value="16">GMT+04:00</option>
                            <option value="17">GMT+05:00</option>
                            <option value="18">GMT+06:00</option>
                            <option value="19">GMT+07:00</option>
                            <option value="20">GMT+08:00</option>
                            <option value="21">GMT+09:00</option>
                            <option value="22">GMT+10:00</option>
                            <option value="23">GMT+11:00</option>
                            <option value="24">GMT+12:00</option>
                            <option value="25">GMT+13:00</option>
                            <option value="26">GMT+14:00</option>
                        </select><br>
                        <div>
                            <p>Language</p>
                            <select class="selectcolor text-light  form-select form-select-sm"
                                    style="background-color:rgb(33,33,44);" aria-label=".form-select-sm example">
                                <option selected>Open this select menu</option>
                                <option value="1">English</option>
                                <option value="2">Norsk</option>
                                <option value="3">繁體中文</option>
                            </select>
                        </div><br>
                        <div class="wordcount">
                            <p>Bio</p>
                            <div class="col-md-12 well">
                                <form accept-charset="UTF-8" action="" method="POST">
                                    <textarea class="wordcounttextarea text-light  form-control" style="background-color:rgb(33,33,44);" id="text" name="text" maxlength="200"
                                              placeholder="Type in your message" rows="5"></textarea>
                                    <span class="wordcountspan pull-right label label-default" id="count_message"></span>
                                    <br>
                                </form>
                            </div>
                        </div>
                        <div class="buttonnone d-grid gap-2 d-md-flex justify-content-md-end">-->
            <!-- <button class="button button2">Save Change</button> -->
            <!--<button type="button" class="button2 btn btn-secondary btn-lg" disabled>Save Change</button>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row col-12 col-md-12 col-sm-12">
                            <div class="col-6 col-md-3 col-sm-3">
                                country
                            </div>
                            <div class="col-6 col-md-3 col-sm-10 col-sm-3">
                                Taiwan,Taipei City
                            </div>
                        </div>
                        <div class="row col-12 col-md-12 col-sm-12">
                            <div class="col-6 col-md-3 col-sm-3">
                                Gender
                            </div>
                            <div class="col-6 col-md-3 col-sm-3">
                                Male
                            </div>
                        </div>
                        <div class="row col-12 col-md-12 col-sm-12">
                            <div class="col-6 col-md-3 col-sm-3">
                                Bitrhday
                            </div>
                            <div class="col-6 col-md-3 col-sm-3">
                                Sep 28,1991
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>



@section topCSS{
    <style>
        header {
            height: 66px;
        }

        body {
            margin: auto;
            padding: 20px;
            color: aliceblue;
            font-family: Poppins, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
            background-color: rgb(18, 14, 27);
        }


        div.panel-body > form > label {
            width: 100px;
            text-align: right;
            margin-right: 0.5em;
            padding-top: 0.2em;
            padding-right: 1em;
            font-weight: bold;
            /*background-color: lightpink;*/
            border-radius: 5px;
        }


        @@media screen and (max-width: 767px) {
            .Side-menu {
                width: 95%;
            }

            .wrapper {
                text-align: center;
            }

            .buttonnone {
                display: none !important;
            }

            .spancontent {
                display: none !important;
            }

            header {
                height: 0px;
            }
        }
        /* 手機橫向 md*/
        @@media screen and (min-width: 768px) {
            .ipadrow {
                margin: 16px;
            }

            .catlogo {
                margin: 3px;
            }

            .Profilecenter {
                padding-top: 30px;
            }

                .Profilecenter p {
                    padding-top: 10px;
                    font-size: 30px;
                }

            .spancontent {
                font-size: 14px;
                font-weight: 300;
            }

            .profileinfo {
                padding-bottom: 10px;
                font-size: 16px;
            }
        }
        /* iPad橫向 lg*/
        @@media screen and (min-width: 996px) {
            .Side-menu {
                width: 200px;
            }

            .catlogo {
                margin: 20px;
            }
            /* .spancontent{
                margin: 20px;
            } */
        }
        /* iPad Pro橫向 & 桌機 xl*/
        @@media screen and (min-width: 1200px) {
        }

        .list-group {
            padding: 20px;
            height: 100vh;
            background-color: rgb(33, 33, 44);
        }

        .text a {
            font-size: 15px;
            color: white;
        }

        .fas {
            color: #fff;
        }

        .Side-menu label {
            position: absolute;
            width: 40px;
            height: 80px;
            top: 0;
            right: -43px;
        }

        .buttonnone {
            padding: 7px;
            border-radius: 10%;
        }

        #Side-menu-switch {
            position: absolute;
            opacity: 0;
        }

            #Side-menu-switch:checked + .Side-menu {
                transform: translateX(0);
            }

                #Side-menu-switch:checked + .Side-menu label .fas {
                    transform: scale(-1);
                }

        .Sidebar {
            z-index: 10;
            position: fixed;
        }

        .imagefile img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 70%;
        }

        .Profilecenter {
            text-align: center;
        }

        html,
        body {
            font-size: 10px;
            color: white;
            font-family: Poppins, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
            height: 100%;
        }

        .tab-title a {
            margin: 10px;
            padding: 5px;
            display: block;
        }

        .Side-menu {
            z-index: 3;
            position: fixed;
            left: 0;
            top: 0;
            /* width: 200px; */
            height: 100vh;
            transform: translateX(-100%);
            transition: .3s;
            background-color: rgb(33, 33, 44);
            display: flex;
            flex-direction: column;
        }

            .Side-menu a {
                text-decoration: none;
                color: #fff;
            }

        .button1 {
            width: 130px;
            background-color: rgb(110, 67, 232);
            color: white;
            border: none;
            border-radius: 15px;
            font-size: 14px;
            padding: 3px 0;
        }

        .button2 {
            width: 130px;
            background-color: rgb(33, 33, 44);
            ;
            color: white;
            border: none;
            border-radius: 15px;
            font-size: 14px;
            padding: 3px 0;
        }

        .cameraicon {
            background-color: darkgreen;
            position: absolute;
        }

        .catlogo label {
            position: relative;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            background-image: url(/Assets/Edit_ProfileImages/avatar.png);
            background-position: center;
        }

        .catlogo .fas {
            left: 45px;
            bottom: 40px;
        }

        label ~ input {
            overflow: hidden;
            display: none !important;
            opacity: 0;
        }

        label .fas {
            position: absolute;
        }

        .selectcolor {
            color: rgba(240, 248, 255, 0.267);
        }

        textarea {
            resize: none;
        }

        #count_message {
            background-color: smoke;
            margin-top: -100px;
            margin-right: 50px;
        }

        .wordcount {
            color: white;
            position: relative;
        }

        .wordcountspan {
            right: -40px;
            bottom: 30px;
            position: absolute;
        }

        .wordcounttextarea {
            background-color: rgb(33, 33, 44);
        }

        .title h1 {
            font-size: 25px;
        }

        .title p {
            right: 20px;
            font-size: 10px;
        }
    </style>


}


@section endJS{
    <script>
        $(function () {
            $("<br/>").insertAfter("input");
            $("<br/>").insertAfter("textarea");
        });
    </script>
}