@model GroupViewModel
@{
    ViewBag.Title = "Checkout";
    //var ck = Model.Checkout;
    var startTime = Model.Checkout.StartTime.ToString("MM/dd/yyyy hh:mm tt");
}
@section topCSS{
    <link href="~/Assets/css/checkout.css" rel="stylesheet" />
}

<div class="container">
    <div class="checkout-container">
        <div class="row">
            <div class="col-12">
                <h1 class="checkout-header">Checkout</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="cart-summary">
                    <div class="order-info">
                        <div class="order-id greyish">OrderID:</div>
                        <div class="order-id-value greyish">@Model.Checkout.OrderConfirmation</div>
                    </div>
                    <hr>

                    <div class="game-info">
                        <div class="game-play">Play @Model.Checkout.GameName with @Model.Checkout.PlayerName</div>
                        <img src="@Model.Checkout.PlayerPic" />
                    </div>

                    <div class="start-info">
                        <div class="greyish">Start Time:</div>
                        <div class="start-time desc">@startTime</div>
                    </div>

                    <div class="unit-price">
                        <div class="greyish">Unit Price:</div>
                        <div class="price desc">$@Model.Checkout.UnitPrice.ToString("N2")/G</div>
                    </div>

                    <div class="rounds-info">
                        <div class="greyish">Rounds:</div>
                        <div class="rounds-value desc">@Model.Checkout.Rounds</div>
                    </div>
                    <hr>
                    <div class="subtotal-info">
                        <div class="greyish">Subtotal:</div>
                        <div class="subtotal desc">$@((Model.Checkout.Rounds * Model.Checkout.UnitPrice).ToString("N2"))</div>
                    </div>
                    <div class="promotion">
                        <div class="greyish">ePal Promotion: </div>
                        <div class="discount desc"></div>
                    </div>
                    <hr>
                    <div class="final-price-div">
                        <div class="greyish">Final Price:</div>
                        <div class="rounds-total greyish">@Model.Checkout.Rounds Round(s) total</div>
                        <div class="price-total price-summary">$@((Model.Checkout.Rounds * Model.Checkout.UnitPrice).ToString("N2"))</div>
                    </div>
                    <div class="timer-div greyish">
                        Please complete the payment within <span class="time-left" id="counter"></span><span class="testtest"></span>, otherwise the order will be cancelled automatically

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-8">
                <div class="payment">

                    <div class="payment-label">
                        <label class="payment-check-label" for="paymentRadio">
                            <span class="straighten">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="paymentRadio" checked>
                                <span>Paypal</span>
                            </span>

                            <span class="paypal-img">
                                <img src="~/Assets/images/checkout/paypal.png" />
                            </span>
                        </label>
                    </div>
                </div>

            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-12">
                    <div class="total-div">
                        <div class="total-price">Total Price</div>
                        <div class="price-total price-total-txt">$@((Model.Checkout.Rounds * Model.Checkout.UnitPrice).ToString("N2"))</div>
                        <div class="checkout-btn-div">
                            <button class="checkout-btn" type="submit">Checkout</button>
                        </div>
                    </div>

                </div>
            </div>
        }

    </div>
</div>

@section endJS{
    
    @*<script src="~/Assets/js/checkout.js"></script>*@
    @{ 
        var unixDateTime = Model.Checkout.OrderDateTime;
    }

<script>

    let timer = document.getElementById('counter')
    let dateTimeNow = new Date();
    let timeNow = dateTimeNow.getTime();
    let orderTime = new Date("@startTime");

    let expireTime = new Date(orderTime.setMinutes(orderTime.getMinutes() + 5 )).getTime();
    let remainingTime = expireTime - timeNow;

    const utcStart = new Date("@unixDateTime").getTime();
    const utcEnd = utcStart + 900000;
    var now = new Date();
    const utcNow = new Date(now.getTime() + now.getTimezoneOffset() * 60000).getTime();
    console.log(utcStart)
    console.log(utcEnd)
    console.log(utcNow)

    console.log(utcEnd - utcNow)









    let timeLeft = (remainingTime) / 1000;
    let min, sec;
    min = Math.floor(timeLeft / 60);
    sec = Math.floor(timeLeft % 60);

    let isTimedOut = CheckTime();
    if (isTimedOut == false) {
        let setTime = setInterval(countdown, 1000)
    }
    else {
        timer.innerText = "---";
        alert('Session has timed out, please try placing a new order');
        window.location = `/detail/detailpage/@Model.Checkout.ProductId`;
    }


    function countdown() {
        sec--
        timeLeft--;
        if (sec < 0 && min > 0) {
            sec = 59;
            min--
            timer.innerText = `${min}m ${sec}s`;
        } else if (sec > 0 && min > 0) {
            timer.innerText = `${min}m ${sec}s`;
        } else if (sec == 0 && min == 0) {
            timer.innerText = '0s';

            clearInterval(setTime);
            alert('Session has timed out, please try placing a new order');
            window.location = `/epals/detailpage/@Model.Checkout.ProductId`;
        } else {
            timer.innerText = `${min}m ${sec}s`;
        }
    }

    function CheckTime() {
        if (timeLeft < 0) {
            return true;
        }
        else { return false };
    }
</script>
}