@model Build_School_Project_No_4.ViewModels.GroupViewModel

@{
    ViewBag.Title = "DetailPage";
    var prod = Model.Deets;
    var price = prod.UnitPrice.ToString("N2");
}
@section topCSS{

    <link href="~/Assets/css/detail_r2.css" rel="stylesheet" />
    <style>

    .game-backdrop{
    background-image: url('@prod.GameBackdrop');
    }
    .main-profile-img {
        background-image: url('@prod.PlayerPic');
    }
    </style>
    
}

<div class="container game-backdrop">
    <div class="row">
        <div class="col-12 col-md-9">
            <div class="detail-header detail-title">
                <h1 class="heading1">@prod.GameName</h1>
                <div class="price-header">
                    <img src="~/Assets/images/detail/currency.png" />
                    <span class="game-price">@price</span>/Game
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="detail-header">
                <div class="header-btns">
                    <button class="btn-play" data-bs-toggle="modal" data-bs-target="#playModal">Play</button>
                    <button class="btn-purp">Chat</button>
                </div>
            </div>
        </div>
    </div>
    <!-- REVIEW, INFO, PROFILE -->
    <div class="row reverse">
        <div class="col-12 col-md-3 col-lg-3">
            <div class="row main-profile-row">
                <div class="col-6 col-md-12">
                    <div class="main-profile main-profile-img"></div>
                </div>
                <div class="col-6 col-md-12">
                    <div class="main-profile basic-info">
                        <h2 class="name heading2">@prod.MemberName</h2>
                        <div class="language">
                            <span class="language-label">Language: </span>@prod.LanguageName
                        </div>
                        <div class="status">ONLINE</div>
                    </div>
                </div>
            </div>
            <div class="row stick">
                <div class="col-12">
                    <div class="booking">
                        <p class="greyish">Book this ePal for</p>
                        <div class="ppg">
                            <img src="~/Assets/images/detail/currency.png" />
                            <div class="game-price">@price</div>
                            /Game
                        </div>
                        <div class="ppg-btns">
                            <button class="btn-play" data-bs-toggle="modal" data-bs-target="#playModal">Play</button>
                            <button class="btn-purp">Chat</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-9 col-lg-9">
            <div class="streamer-info">
                <div class="row">
                    <div class="col-3 review-score">
                        <div class="info-title">Score</div>
                        <div class="streamer-info-data streamer-score">
                            <div class="one-star">
                                <i class="fas fa-star gold-star"></i>
                            </div>
                            5.0
                            <div class="five-stars">
                                <i class="fas fa-star gold-star"></i>
                                <i class="fas fa-star gold-star"></i>
                                <i class="fas fa-star gold-star"></i>
                                <i class="fas fa-star gold-star"></i>
                                <i class="fas fa-star gold-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 served">
                        <div class="info-title">Served</div>
                        <div class="streamer-info-data cust-served">284</div>
                    </div>
                    <div class="col-3 recommended">
                        <div class="info-title">Recommended</div>
                        <div class="streamer-info-data num-recommended">284</div>
                    </div>
                    <div class="col-3">
                        <div class="info-title">Coach</div>
                        <div class="streamer-info-data is-coach">No</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="game-screenshot">
                    <img src="@prod.GameScreenshot" />
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-7">
                    <div class="details">
                        <div class="details-heading">
                            <img src="~/Assets/images/detail/details.png" />
                            <div class="whitish">Details</div>
                        </div>

                        <div class="detail-entry">
                            <div class="detail-name rank whitish">Rank</div>
                            <div class="detail-value greyish">@prod.RankName</div>

                        </div>
                        <div class="detail-entry">
                            <div class="detail-name server whitish">Server(s)</div>
                            <div class="detail-value greyish">@prod.ServerName</div>
                        </div>
                        <div class="detail-entry">
                            <div class="detail-name platform whitish">Platform(s)</div>
                            <div class="detail-value greyish">PC</div>
                        </div>
                        <div class="introduction whitish">
                            Introduction
                        </div>
                        <div class="intro-text greyish">
                            @prod.Intro
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5">
                    <div class="availability">

                        <table>
                            <thead>
                                <tr>
                                    <td>
                                        <img src="~/Assets/images/detail/availability.png" />
                                        <div class="whitish">Availabilty</div>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="whitish">Monday</td>
                                    <td class="greyish">
                                        12:00 am-06:00 am <br>
                                        04:00 pm-12:00 am
                                    </td>
                                </tr>
                                <tr>
                                    <td class="whitish">Tuesday</td>
                                    <td class="greyish">
                                        12:00 am-06:00 am <br>
                                        04:00 pm-12:00 am
                                    </td>
                                </tr>
                                <tr>
                                    <td class="whitish">Wednesday</td>
                                    <td class="greyish">
                                        12:00 am-06:00 am <br>
                                        04:00 pm-12:00 am
                                    </td>
                                </tr>
                                <tr>
                                    <td class="whitish">Thursday</td>
                                    <td class="greyish">
                                        12:00 am-06:00 am <br>
                                        04:00 pm-12:00 am
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="playModal" tabindex="-1" aria-labelledby="playModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="playModalLabel">Confirm Order</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container whitish">
                            <div class="row">
                                <div class="col-3 ">
                                    <div class="game-img">
                                        <img src="~/Assets/images/detail/card_lol_m@2x.png" />
                                    </div>
                                </div>
                                <div class="col-9 ">
                                    <div class="game-user-price">
                                        <div class="game-name">@prod.GameName</div>
                                        <div class="player-name">@prod.MemberName</div>
                                        <div class="price-per-game">
                                            <img src="~/Assets/images/detail/currency.png" />
                                            @price/Game
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="rounds">
                                        <span>Rounds</span>
                                        <div class="rounds-div">
                                            <button class="round-subtract"><span>-</span></button>
                                            <button class="round-number"><span class="round-set">1</span></button>
                                            <button class="round-add"><span>+</span></button>
                                        </div>
                                    </div>

                                    <div class="start-time-div">
                                        <span>Start Time</span>
                                        <div class="start-time-settings">
                                            <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/datetime-local -->
                                            <input type="datetime-local" id="start-time" name="start-time" class="whitish">
                                            <button class="time-now"><span>Now</span></button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="subtotal-div">
                                        <span>Subtotal</span>
                                        <div class="subtotal-div2">
                                            <img src="~/Assets/images/detail/currency.png" />
                                            <span class="subtotal">@price</span>/Game
                                        </div>
                                    </div>

                                    <div class="promo-code-div">
                                        <span>Promo code</span>
                                        <div class="enter-code">
                                            <input placeholder="Enter your promo code" type="text">
                                        </div>
                                    </div>

                                    <hr>

                                    <div class="final-price-div">
                                        <span>Final Price</span>
                                        <div class="final-price">

                                            <span class="rounds-final">1</span> Round(s) total
                                            <img src="~/Assets/images/detail/currency.png" />
                                            <span class="final-amount">@price</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-cancel" data-bs-dismiss="modal">Close</button>
                        <button class="btn-purp btn-confirm">Confirm</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="div whitespace"></div>

